*{
    margin: 0px;
    padding: 0px;
}

.box{
     height: 100vh;
    width: 100vw;
       background-image: url(pic3.jpg);
 background-size: cover;
}
.overley{
   position: absolute;
   top: 0px;
    backdrop-filter:blur(10px); 

    height: 100%;
    width: 100%;
}

.form{
    background-image: url(bg8.jpg);
     background-position: 20px;
     background-size: cover;
    /* background-color: rebeccapurple; */
    height: 500px;
    width: 400px;
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
   box-shadow: 0px 0px 5px 3px black;

 transition: 0.5s;

}

.showform{
    opacity: 1;
    z-index: 9;

}
.cross{
    position: absolute;
    top:0px;right: 4px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
}
.triangle-0 {
    width: 403px;
    height: 115px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    background-color: #cb218e;
    background-image: linear-gradient(315deg, #cb218e 0%, #bf17cb 74%);
     }
.form div input{
    height: 20px;
    width: 80%;
    margin: 20px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(128, 128, 128, 0.261);
    font-size: 15px;
    color:black;
  
}

.btn{
    /* background-color:#6a037cb0 ; */
    background-color: #cb218e;
    background-image: linear-gradient(315deg, #cb218e 0%, #bf17cb 74%);
    width: 80%;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    color: rgb(241, 241, 241);
    border: 2px solid black;
    margin-top: 20px;
   margin-left: 25px;
   box-shadow: 5px 5px 5px black;
}
.already{
  margin-top: 25px;
    text-align: center;
}