*{
    margin: 0px;
    padding:0px;
}
body{
    font-family: 'Inclusive Sans', sans-serif;
    overflow-x: hidden;

}
html{
    overflow-x: hidden;
}
/* popup form */
.overley{
   position: absolute;
   top: 0px;
   /* backdrop-filter:blur(10px); */
   backdrop-filter: invert(20%);
    height: 80vh;
    width: 100vw;
}

.form{
    background-image: url(bg8.jpg);
     background-position: 20px;
     background-size: cover;
    /* background-color: rebeccapurple; */
    height: 500px;
    width: 400px;
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-81%,-50%);
   box-shadow: 0px 0px 5px 3px black;
 opacity: 0;
 transition: 0.5s;
 z-index: 9;

}

.showform{
    opacity: 1;
    z-index: 9;

}
.cross{
    position: absolute;
    top:0px;right: 4px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
}
.triangle-0 {
    width: 403px;
    height: 115px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    background-color: #cb218e;
    background-image: linear-gradient(315deg, #cb218e 0%, #bf17cb 74%);
     }
.form div input{
    height: 20px;
    width: 80%;
    margin: 20px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(128, 128, 128, 0.261);
    font-size: 15px;
    color:black;
  
}

.btn1{
    /* background-color:#6a037cb0 ; */
    background-color: #cb218e;
    background-image: linear-gradient(315deg, #cb218e 0%, #bf17cb 74%);
    width: 80%;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    color: rgb(241, 241, 241);
    border: 2px solid black;
    margin-top: 20px;
   margin-left: 25px;
   box-shadow: 5px 5px 5px black;
}
/* nav bar */
.nav-bar{
    position: absolute;
    top:0px;
   display: flex;
 justify-content: space-between;
    height: 80px;
    width: 100vw;

padding-top: 20px;

z-index: 5;


}
.nav-bar .logo{
color:white;
font-size: 40px;
padding: 15px;
font-family: 'Dancing Script', cursive;
    font-weight:bolder;
    text-shadow:15px 15px 10px black;



}
.nav-bar .nav{
 padding: 20px;
}
.nav-bar ul{
    display: flex;
justify-content: end;
  
    list-style: none;
    gap:30px;


    
  
  
    
}

.nav-bar ul li{
 
}
.nav-bar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Inclusive Sans', sans-serif;
}
.nav-bar ul li a:hover{
   color: aqua;
   font-size: 26px;
   color:#330040
}

.nav-bar ul li a#sign{
    background-color:#330040;
    height:100px;
    width: 50px;
    padding: 15px;
    color: white;
    border-radius: 40px;

}
.already{
  margin-top: 25px;
    text-align: center;
}
 
.nav-bar ul li a#signup:hover{

    /* color:rebeccapurple; */
    color: white;
    font-size:25px;
    font-weight:bolder ;
    background-color:#330040; 
}
#menu{
  position:absolute;
  display: none;
  top: 0px;
  right: 0px;
  padding: 10px;
  color: white;
  background-color: rgba(0,0,0,0.3);
cursor: pointer;
}

.logo2{
    position: absolute;
    top:20px;
    left: 20px;
    display: none;
     text-shadow:15px 15px 10px black;
}

.banner{
    width: 100vw;
    height: 80vh;
    background-color: aqua;


}
.banner img{
    width:100%;
    height:100%;
   
}

.banner .text h4{
    
    font-size:4vw;
    color:white;
    text-shadow: 10px 10px 10px black;
    font-family: 'Roboto Slab', serif; 

}

.banner .text{
    position: absolute;
    top: 40%;
    left: 60%;
    z-index: 1;
}
.banner .text button{
    font-size: 20px;
    background-color: white;
    color:#330040;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    border-color: #330040;
    box-shadow: 10px 10px 10px black;
    font-weight: bolder;
}
/*banner and nav bar responsive*/
@media only screen and (max-width: 1000px){
    *{
        padding: 0px;
    margin: 0px;
    }
    #menu{
        display: block;
        z-index: 10;
    }
    
    .showoverley{
        z-index:9;
    }
   .nav-bar{
     background-image: linear-gradient(315deg, #cb218e 0%, #bf17cb 74%);
    height: 90vh;
   
   opacity: 0;
   }
    .show-nav-bar{
    opacity: 1;
}

   .nav-bar ul{
    display: block;
position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 } 

   .nav-bar ul li a{
    padding: 20px;

    text-align: center;
    line-height: 100px;
    font-size: 30px;
    text-shadow: 10px 10px 10px black;
   }
   .nav-bar ul li a.signup{
    height: 50px;
    width:100px ;
    text-align: center;
    border-radius: 50px;
padding: 0px;
    margin: 0px;
    padding-bottom: 50px;

   }
   .nav-bar ul li a.signup:hover{
    background-color:#330040;
    color: white;

   }
   #menu{
  display: block;

}

.logo2{
    display: block;
    font-size: 40px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-weight:bolder;
}


.banner .text h4{
    font-size: 6vw;
}
.banner .txt button{
    width: 100px;
    height: 30px;
}
}


/*about course*/

.box1{
    /* height: 70vh; */
    width: 100vw;
    background-color: #330040;
}
.box1 .inner-box{
    height: 80%;
    width: 80%;
    display: flex;
  padding-top:50px ;
    gap: 150px;
    padding-left: 70px;
}
.box1 .inner-box .image img{
    height:400px;
    width: 400px;
    padding-top: 20px;
}

.box1 .inner-box .content{
    height: 100%;
    width: 50%;
}

.box1 .inner-box .content h6{
    font-size: 60px;
    color: white;
 
    font-family: 'Poppins', sans-serif;
}

.box1 .inner-box .content p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
 line-height: 30px;
 margin-top: 20px;
}

.box1 .inner-box .content a .veiw-button{
    height: 50px;
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: white;
    font-size:20px;
    color: black;
    border-color:white;
    box-shadow: 10px 10px 10px black;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
.box1 .inner-box .content a .veiw-button:hover{
    color:#330040;
   font-size:22px ;
}

@media only screen and (max-width: 1000px){
    /* .box1{
        height: 180vh;
     
    } */
    .box1 .inner-box{
        display: block;
       
    }
    .box1 .inner-box .content{
        width: 100%;
        margin-top: 40px;
    }
    .box1 .inner-box .image img{
width: 80vw;
    }
    .form{
         transform: translate(-50%,-50%);
    }

}
/* awesome features */

.heading1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
   color: #330040;
   margin-top:80px ;

}

.heading1 h6{
    font-size: 50px;
   
}
.heading1 p{
    font-size: 20px;
}
.parent-box{
    display: flex;
   justify-content: center;
   gap: 10px;
   margin: 50px 0px;
}
.parent-box .box{
   
    width: 26vw;
    background-color: #e7e7e9;
padding: 10px;

}
.parent-box .box .icon{
font-size: 70px;
color: #330040;

}
.parent-box .box h6{
color: #330040;
font-size: 1.2rem;

font-weight: bolder;
margin-top: 10px;
}
.parent-box .box p{
    color:#330040;
    font-size: 1rem;
    margin-top: 10px;
}

@media only screen and (max-width: 1000px){

.parent-box{
    display: block;
}
.parent-box .box{

     height: 30vh;
    width: 70vw;
margin: 50px auto;
}
}

/* explore top courses */

.heading2{
    text-align: center;
   
   color: #330040;
   margin-top:80px ;
}

.heading2 h6{
    font-size: 50px;
   }
.heading2 p{
    font-size: 20px;
}
.container{
    margin: 50px 0px;
    display: flex;
    gap: 20px;
  
}
.card-body{
    background-color: #f8f8fc;
}
.container .card .card-body h5{
    color: #330040;
}
.container .card .card-body p{
    color: #330040;
}
.container .card .btn{
    background-color: #330040;
    border: 2px solid #330040;
}

.carousel-inner{
    height: 100vh;
}
.carousel-inner .carousel-item img{
    height: 100vh;
}

.card iframe{
    width: 100%;
    height:100%;
    
}
.card{
    width: 25rem;
}

@media only screen and (max-width: 1000px){
    .container{
        display: block;

    }
.container .card{
    margin:40px auto;
}
.card{
    width: 30rem;
    height: 30rem;
}}

/* customers */

.heading5{
    text-align: center;
    color: #330040;
   margin-top:80px ;
}
.heading5 h6{
    font-size: 50px;
   
}
.heading5 p{
    font-size: 20px;
}

.big-box{
display: flex;
justify-content: center;
gap: 30px;
margin:40px 0px;
}
.big-box .same{
    background-color: #f8f8fc;
    width:20vw;
    padding: 20px;
    text-align: center;
   
}
.big-box .same h6{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
.big-box .same p{
    font-size:16px ;
    font-family: 'Poppins', sans-serif;
}
.big-box .same img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
}
@media only screen and (max-width: 1000px){
    .big-box{
        display: block;
       
    }
    .big-box .same{
        width: 40vw;
        margin: 30px auto;
    }
}

/* contact us */
.heading6{
    text-align: center;
    color: #330040;
    margin-top:80px ;
}
.heading6 h6{
    font-size: 50px;
    font-weight: bolder;
}
.big-container{
    display: flex;
    width: 80vw;
    margin:90px;
    box-shadow: 0px 0px 10px 10px black;
}
.big-container .lside{
    width: 50%;

}
.big-container .lside img{
width: 100%;
height:100% ;
}
.big-container .rside{
    width: 50%;
   padding: 50px;
}
.big-container .rside input{
outline: none;
border: none;
font-size: 20px;
font-family: 'Poppins', sans-serif;
background-color: transparent;
border-bottom: 1px solid rgba(128, 128, 128, 0.426);
margin-top: 30px;
width: 100%;
}
.big-container .rside div .submit-button{
margin: 30px auto;
background-color: #330040;
color: white;
width: 150px;
height: 50px;
border-radius: 20px;
font-size: 20px;
border-color: white;
box-shadow: 10px 10px 10px #330040;
}
@media only screen and (max-width: 1000px){
    *{
        padding: 0;
        margin: 0;
    }
    .big-container{
        display: block;
        margin: 50px auto;
    }
    .big-container .lside{
        width: 100%;
    }
    .big-container .rside{
        width: 100%;
    }
}



/* footer */
footer{
    background-color: #330040;
    width: 100vw;
    color:white;
    text-align: center;
    
}
footer .footer{
    display: flex;
    background-color: #330040;
    width: 100vw;
    height: 50vh;
    margin:50px 0px;
    color: white;
    padding: 100px;
    gap: 90px;
   
}
footer .footer .forth .inner-forth div input{
background-color:rgba(128, 128, 128, 0.22);
height:40px;
width: 250px;
}
footer .footer .forth .inner-forth div .subscribe-button{
    background-color: white;
    color: #330040;
    height: 45px;
    width: 150px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 20px;
}
footer .footer .forth .inner-forth div .subscribe-button:hover{
    background-color: black;
    color: white;
}
.final{
   position: relative;
   bottom: 100px;
   left: 50%;
}

@media only screen and (max-width: 1000px){

footer .footer{
    display: block;
    margin: 50px auto;
    height: 100%;

}
footer .footer .second{
   padding-top:60px;
}
footer .footer .second{
    padding-top:60px;
 }
footer .footer .third{
    padding-top:60px;
 }
 footer .footer .forth{
    padding-top:60px;
 }
 footer .footer .forth .inner-forth .subs{
    display: flex;
 }
 .final{
    bottom: 50px;
left: 10px;
 }
}